<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if session['email'] == 'admin@gmail.com'  %}
  {% extends 'sidebar.html' %}
  {% block content %}
   
  <div class="modal" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Record</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/updatecoem" method="POST">

		 <label>Certificate Name</label>
                <input type="text" name="cname" value=" {{ data[1] }}  "  class="form-control">
		 <label>OEM Name</label>
                <input type="text" name="oem" value=" {{ data[2] }}  "  class="form-control">
		 <label>Cost</label>
                <input type="text" name="cost" value=" {{ data[3] }}  "  class="form-control">
		<input type="hidden" name="id" value="{{ id }}"><br><br>
                <input type="submit" name="submit" class="form-control btn btn-primary">
            </form>
            
        </div>
      </div>
    </div>
  </div>
  
  <script>
      // JavaScript code to show the modal automatically
      window.addEventListener('DOMContentLoaded', function () {
          $('#editModal').modal('show');
      });
  </script>
  
 




  {% endblock %}
  
         
{% else %}
<script>
 // Display a SweetAlert message and logout after 5 seconds
 window.onload = function() {
     Swal.fire({
         title: 'Access Denied!',
         text: 'You are not allowed to view this page.',
         icon: 'warning',
         timer: 5000, // Automatically close the alert after 5 seconds
         timerProgressBar: true,
         showConfirmButton: false
     }).then((result) => {
         // Redirect to logout page after the alert is closed
         if (result.dismiss === Swal.DismissReason.timer) {
             window.location.href = "/logout";
         }
     });
 };
</script>
{% endif %}
