{% extends '/admin/sidebar.html' %}
{% block content %}

{% if session['email'] == 'admin@gmail.com' %}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h6 class=" mb-0 text-black">KRA TEMPLATE  DASHBAORD</h6>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>
    <div class="card mb-4">
        <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    Add KRA Template
                                </div>
                                <div class="card-body">
                                    <div class="row">
                <div class="col-lg-4">
                    <form action="{{ url_for('tkraadd') }}" method="post" >
                        <label>Enter  Template name</label><br>
    <input type="text" name="template_name" class="form-control">
                </div>
                
                
                <div class="col-lg-2">
                    <br>
                    
                    <button class="form-control btn btn-danger">Add Template Name</button>
                    </form>
                </div>
        </div>
        </div>
            </div><br>
            <div class="card mb-4">
                                <div class="card-header">
                                    
                                            <i class="fas fa-table me-1"></i>
                                    KRA TEMPLATE List
                                       
                                </div>
                                <div class="card-body">
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th>Template Name</th>
                                                
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Template Name</th>
                                                
                                                <th>Action</th>
                                                
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for row in data %}
        <tr>
          
          
            <td>{{ row[1] }}</td>
            <td>
                <a href="/admin/tkraedit?id={{ row[7] }}" class="btn btn-danger">Edit</a>
                                    <a href="/admin/tkradelete?id={{ row[7] }}" class="btn btn-danger">Delete</a>
                 </td>
           
           
        </tr>
        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
</div>

{% else %}
<h4 style="margin: 200px;text-align: center;text-transform: uppercase;">Your Not  allowed to visit this page</h4>
{% endif %}

{% endblock %}
