{% extends 'admin/sidebar.html' %}


{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0 text-black">MIGRATION DASHBOARD</h6>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="card mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-12">
                <i class="fas fa-table me-1"></i>
                Manage user
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>User Type</th>
                        <th>Team Name</th>
                        <th>Email</th>
                        <th>Action</th>           
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>User Name</th>
                        <th>User Type</th>
                        <th>Team Name</th>    
                        <th>Email</th>
                        <th>Action</th>               
                    </tr>
                </tfoot>
                <tbody>
                    {% for row in data %}
        <tr>
          
            <td>{{ row[1] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
          
            <td>{{ row[7] }}</td>
            <td>
                <form id="myForm" action="umigration?id={{ row[0] }}" method="POST">
                    <select class="form-control" name="priority" onchange="this.form.submit()">
                        <option>Select</option>
                        <option value="hr">hr</option>
                        <option value="finanace">finanace</option>
                        <option value="noc">NOC</option>
                        <option value="operation">Operation</option>
                        <option value="project">Project</option>
                    </select>
                </form>
            </td>
            <!-- Add more table data as needed -->
        </tr>
        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
