<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if session['tname'] == 'operation' or session['tname'] == 'project' or session['email'] == 'admin@gmail.com' or
session['tname'] == 'sales' %}
{% if session['email'] == 'admin@gmail.com' %}
{% extends '/admin/sidebar.html' %}
{% else %}
{% extends 'sidebar.html' %}
{% endif %}
{% block content %}

{% for data in sidata %}
<div class="container-fluid">
        <div class="row">
                <div class="col-lg-4">
                        <div class="card  text-white">
                                <div class="card-header" style="background-color: #353935">
                                        <p> Customer Name </p>
                                </div>
                                <div class="card-body" style="background-color: orange">
                                        <p> {{ data[1] }}</p>
                                </div>
                        </div>
                </div>
                <div class="col-lg-4">
                        <div class="card  text-white">
                                <div class="card-header" style="background-color: #353935">
                                        <p> Customer POC Name </p>
                                </div>
                                <div class="card-body" style="background-color: orange">
                                        <p> {{ data[2] }}</p>
                                </div>
                        </div>
                </div>
                <div class="col-lg-4">
                        <div class="card  text-white">
                                <div class="card-header" style="background-color: #353935">
                                        <p> Customer Phone No </p>
                                </div>
                                <div class="card-body" style="background-color: orange">
                                        <p> {{ data[3] }}</p>
                                </div>
                        </div>
                </div>

        </div>
        <br><br>
        <div class="row">
                <div class="col-lg-4">
                        <div class="card  text-white">
                                <div class="card-header" style="background-color: #353935">
                                        <p> Customer Email </p>
                                </div>
                                <div class="card-body" style="background-color: orange">
                                        <p> {{ data[4] }}</p>
                                </div>
                        </div>
                </div>



                <div class="col-lg-4">
                        <div class="card  text-white">
                                <div class="card-header" style="background-color: #353935">
                                        <p> Requestor Email </p>
                                </div>
                                <div class="card-body" style="background-color: orange">
                                        <p> {{ data[7] }}</p>
                                </div>
                        </div>
                </div>




                <div class="col-lg-4">
                        <div class="card  text-white">
                                <div class="card-header" style="background-color: #353935">
                                        <p> Serial Number </p>
                                </div>
                                <div class="card-body" style="background-color: orange">
                                        <p> {{ data[12] }}</p>
                                </div>
                        </div>
                </div>


        </div>


        <br><br>

        {% endfor %}


        <script>
                // JavaScript code to show the modal automatically
                window.addEventListener('DOMContentLoaded', function () {
                        var myModal = new bootstrap.Modal(document.getElementById('editModal'));
                        myModal.show();
                });

                // JavaScript code to handle modal close event and redirection
                document.getElementById('closeModalButton').addEventListener('click', function () {
                        // Redirect to another page
                        window.location.href = "/elapprove"; // Replace "/other_page" with your desired page URL
                });
        </script>






        {% endblock %}


        {% else %}
        <script>
                // Display a SweetAlert message and logout after 5 seconds
                window.onload = function () {
                        Swal.fire({
                                title: 'Access Denied!',
                                text: 'You are not allowed to view this page.',
                                icon: 'warning',
                                timer: 5000, // Automatically close the alert after 5 seconds
                                timerProgressBar: true,
                                showConfirmButton: false
                        }).then((result) => {
                                // Redirect to logout page after the alert is closed
                                if (result.dismiss === Swal.DismissReason.timer) {
                                        window.location.href = "/logout";
                                }
                        });
                };
        </script>
        {% endif %}