<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if session['tname'] == "hr" %}
{% extends 'sidebar.html' %}


{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center  justify-content-between  mb-4">
        <h5 class="mb-0 text-black">Payout List</h5>
        <form action="/download_csv" method="POST">
            <div class="row">
                <div class="col-lg-4">
                    <label for="from">From:</label>
                    <input type="date" id="from" name="from" class="form-control">
                </div>
                <div class="col-lg-4">
                    <label for="from">To:</label>
                    <input type="date" id="to" name="to" class="form-control">
                </div>
                <div class="col-lg-4">
                    <label for="from">Click Here:</label>
                    <button class="btn btn-primary btn-sm">Generate Report</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Content Row -->
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-12">
                    <i class="fas fa-table me-1"></i>
                    Manage user
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body">
                <div class="container">

                    <table class="table table-bordered  table-class" id="datatablesSimple">
                        <thead class="thead-dark">
                            <tr>
                                <th>Activity</th>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Start Time</th>
                                <th>End Time</th>


                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>

                                <td>
                                    <a href="#" class="open-modal" data-id="{{ row[7] }}"
                                        style="text-decoration: none;color: black">{{ row[5] }}</a>
                                </td>
                                <td>{{ row[0] }}</td>
                                <td> {{ row[2] }} </td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[8] }}</td>
                                <td>{{ row[9] }}</td>



                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>



                </div> <!--             End of Container -->
            </div>
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Additional Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Display details here -->
                    <div id="modal-details">
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".open-modal").click(function () {
                var id = $(this).data('id');

                // Fetch details via AJAX request
                $.ajax({
                    url: '/mapayoutapprove',
                    method: 'GET',
                    data: { mid: id },
                    success: function (response) {
                        if (response) {
                            $("#modal-details").html(
                                "<p> Name: " + response.name + "</p>" +
                                "<p> Activity: " + response.Activity + "</p>" +
                                "<p> Start Date: " + response.startdate + "</p>" +
                                "<p>End Date: " + response.enddate + "</p>" +
                                "<p>Start Time: " + response.start_time + "</p>" +
                                "<p>End Time: " + response.end_time + "</p>" +
                                "<p>Status: " + response.status + "</p>" +
                                "<p>Reject Reason: " + response.reason + "</p>"
                            );
                        } else {
                            // If response is empty or does not contain data
                            $("#modal-details").text("No data available");
                        }

                        // Open the modal
                        $("#myModal").modal('show');
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error(error);
                        // Update modal title and body in case of error
                        $(".modal-title").text('Error');
                        $("#modal-details").html('<p>An error occurred while fetching the details.</p>');

                        // Open the modal
                        $("#myModal").modal('show');
                    }
                });
            });
            $(".modal-footer .btn-danger").click(function () {
                $("#myModal").modal('hide');
            });
            $(".close").click(function () {
                $("#myModal").modal('hide');
            });

        });
    </script>

    {% endblock %}

    {% else %}
    <script>
        // Display a SweetAlert message and logout after 5 seconds
        window.onload = function () {
            Swal.fire({
                title: 'Access Denied!',
                text: 'You are not allowed to view this page.',
                icon: 'warning',
                timer: 5000, // Automatically close the alert after 5 seconds
                timerProgressBar: true,
                showConfirmButton: false
            }).then((result) => {
                // Redirect to logout page after the alert is closed
                if (result.dismiss === Swal.DismissReason.timer) {
                    window.location.href = "/logout";
                }
            });
        };
    </script>
    {% endif %}