<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if session['tname'] == 'operation'  %}
  {% extends 'sidebar.html' %}
  {% block content %}
   
  <div class="modal" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Inventory Logs( {{ desc  }})  </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModalAndRedirect()">
	  <span aria-hidden="true">&times;</span>
	</button>
        </div>
        <div class="modal-body">
	     {% if data or edata%}
	     <h6> Total Quantity </h6>
	     <p> {{ total_quantity }} </p>
	     <hr>
	     <h6> Internal Use  </h6> 
             {% for row in data %}
	     
	     <p>  {{ row[1]  }} - Qty - {{ row[4] }}  </p>
            {% endfor %}
	    <hr>
	     <h6> External Demo  </h6>
             {% for row in edata %}
             <p>  {{ row[1]  }} - Qty - {{ row[10] }}  </p>
            {% endfor %}
	    <hr>
		 <h6> Remaining Quantity   </h6>	
	    {% for qqty in rqty %}

	    <p> {{ desc  }} - In Stock - Quantity - {{ qqty[4] }}    </p>
	    {% endfor %}
	    <hr>
	    {% else %}
	    <p>Total Quantity {{ total_quantity   }}  </p>
	    {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  <script>
      // JavaScript code to show the modal automatically
      window.addEventListener('DOMContentLoaded', function () {
          $('#editModal').modal('show');
      });
      function closeModalAndRedirect() {
  // Close the modal
  $('#myModal').modal('hide');

  // Redirect to another file (replace 'new_page.html' with the desired file)
  window.location.href = '/inventory';
}
  </script>
  
 




  {% endblock %}
  
         
{% else %}
<script>
 // Display a SweetAlert message and logout after 5 seconds
 window.onload = function() {
     Swal.fire({
         title: 'Access Denied!',
         text: 'You are not allowed to view this page.',
         icon: 'warning',
         timer: 5000, // Automatically close the alert after 5 seconds
         timerProgressBar: true,
         showConfirmButton: false
     }).then((result) => {
         // Redirect to logout page after the alert is closed
         if (result.dismiss === Swal.DismissReason.timer) {
             window.location.href = "/logout";
         }
     });
 };
</script>
{% endif %}
