<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if session['type'] == 'manager' and session['tname'] == 'noc' %}
{% extends 'sidebar.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h5 class=" mb-0 text-black">Payout Approval Dashboard</h5>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-12">
                    <i class="fas fa-table me-1"></i>
                    Manage Payout
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body">
                <div class="container">

                    <table class="table table-bordered  table-class" id="datatablesSimple">
                        <thead class="thead-dark">
                            <tr>
                                <th>Activity</th>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End date</th>
                                <th>Start Time</th>
                                <th>End Time</th>

                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>
                                <td>
                                    <a href="#" class="open-modal" data-id="{{ row[7] }}"
                                        style="text-decoration: none;color: black">{{ row[5] }}</a>
                                </td>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[4] }}</td>
                                <td>{{ row[8] }}</td>
                                <td>{{ row[9] }}</td>

                                <td>{{ row[6] }}</td>
                                <td>
                                    {% if row[6] == "Pending with PM" %}

                                    <div class="d-flex">
                                        <a href="npayoutapprove?id={{ row[7] }}"
                                            class="btn btn-primary btn-sm">Approve</a>
                                        <button type="button" class="btn btn-warning btn-sm ml-2 approveBtn"
                                            data-rid="{{ row[7] }}" id="rejectBtn">Reject</button>
                                    </div>
                                    <div id="reject" class="modal" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Enter Extend Date</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="serialNumberForm" action="npayoutreject" method="POST">
                                                        <div class="form-group">
                                                            <label for="serialNumber">Reason:</label>
                                                            <input type="text" class="form-control" id="ReasonInput"
                                                                name="reason">
                                                        </div>
                                                        <input type="hidden" id="labId" name="labId">

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <but type="submit" class="btn btn-primary">Submit</but>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% elif row[6] == "rejected by manager" %}
                                    <a href="#" class="btn btn-warning btn-sm">Rejected</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Additional Details</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <!-- Display details here -->
                                    <div id="modal-details">
                                    </div>
                                </div>

                                <!-- Modal Footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class='pagination-container'>
                        <nav>
                            <ul class="pagination">
                                <!-- Here the JS Function Will Add the Rows -->
                            </ul>
                        </nav>
                    </div>


                </div> <!--             End of Container -->
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".open-modal").click(function () {
                var id = $(this).data('id');

                // Fetch details via AJAX request
                $.ajax({
                    url: '/nocpayoutapprove',
                    method: 'GET',
                    data: { mid: id },
                    success: function (response) {
                        if (response) {
                            $("#modal-details").html(
                                "<p> Name: " + response.name + "</p>" +
                                "<p> Activity: " + response.Activity + "</p>" +
                                "<p> Start Date: " + response.startdate + "</p>" +
                                "<p>End Date: " + response.enddate + "</p>" +
                                "<p>Start Time: " + response.start_time + "</p>" +
                                "<p>End Time: " + response.end_time + "</p>" +
                                "<p>Status: " + response.status + "</p>" +
                                "<p>Reject Reason: " + response.reason + "</p>"
                            );
                        } else {
                            // If response is empty or does not contain data
                            $("#modal-details").text("No data available");
                        }

                        // Open the modal
                        $("#myModal").modal('show');
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error(error);
                        // Update modal title and body in case of error
                        $(".modal-title").text('Error');
                        $("#modal-details").html('<p>An error occurred while fetching the details.</p>');

                        // Open the modal
                        $("#myModal").modal('show');
                    }
                });
            });

            // Handle modal close
            $(".modal-footer .btn-danger, .close").click(function () {
                $("#myModal").modal('hide');
            });

            // Function to handle rejection button click
            $('.approveBtn').click(function () {
                var rid = $(this).data('rid');
                $('#labId').val(rid);
                if ($(this).attr('id') === 'rejectBtn') {
                    $('#reject').modal('show');
                }
            });

            // Handle form submission
            $('#submitSerialNumber').click(function (event) {
                event.preventDefault(); // Prevent default form submission

                var id = $('#labId').val();
                var reason = $('#ReasonInput').val();

                $.post('/npayoutreject', { id: id, reason: reason }, function (data) {
                    console.log("Response from server:", data);
                    // Assuming the server returns a success response
                    if (data.success) {
                        window.location.href = '/nocpayoutapprove';
                    } else {
                        // Handle the error if needed
                        console.error("Error in submission");
                    }
                    $('#reject').modal('hide');
                });
            });

            // Handle modal close
            $('.modal-footer .btn-secondary, .modal-header .close').click(function () {
                $('#reject').modal('hide');
            });
        });
    </script>
    {% endblock %}

    {% else %}
    <script>
        // Display a SweetAlert message and logout after 5 seconds
        window.onload = function () {
            Swal.fire({
                title: 'Access Denied!',
                text: 'You are not allowed to view this page.',
                icon: 'warning',
                timer: 5000, // Automatically close the alert after 5 seconds
                timerProgressBar: true,
                showConfirmButton: false
            }).then((result) => {
                // Redirect to logout page after the alert is closed
                if (result.dismiss === Swal.DismissReason.timer) {
                    window.location.href = "/logout";
                }
            });
        };
    </script>
    {% endif %}