		
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if session['tname'] == 'project' and session['type'] == 'manager'  %}		
{% extends 'sidebar.html' %}
{% block content %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script> 
<div class="container-fluid">
<div class="row">
	
    <div class="col-xl-4 col-md-6">
	   
        <div class="card  text-white mb-4" style="background-color: #79AD82;">
             <div class="card-body">
                <h5 class="text-center">Network Engineer </h5>
		<h4 class="text-center">{{ ne_count }}</h4>
            </div>
            
        </div>
	    
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card  text-white mb-4" style="background-color: #E6A04B;">
             <div class="card-body">
                <h5 class="text-center">Senior Network Engineer </h5>
		<h4 class="text-center"> {{ sne_count }}  </h4>
            </div>
            
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card  text-white mb-4" style="background-color: #71BEBF;">
             <div class="card-body">
                <h5 class="text-center">Technical Associate </h5>
		<h4 class="text-center"> {{ ta_count  }}   </h4>
            </div>
            
        </div>
    </div>
</div>
<div class="row">
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4">
		
        </div>
<div class="col-lg-4 float-right" >
 <form action="{{ url_for('pdashboard') }}" method="POST">
 <select  name="designation" class="form-control" onchange="this.form.submit()">
     <option value="#" >---Select Designation---</option>
     <option value="Network_Engineer">Network Engineer</option>
     <option value="Senior_Network_Engineer">Senior Network Engineer</option>
    <option value="Technical_Associate">Technical Associate</option>
 </select>
 </form>
</div>
</div>
<br>
<div class="row">
	<div class="col-lg-12">

<div class="card">
	
	<div class="card-header">
		{{  designation }}
	</div>
 
    <div class="card-body bg-dark">
        
      
        <canvas id="performanceChart" width="10" height="200"></canvas>
	<script>
		var ctx = document.getElementById('performanceChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ labels | tojson }},
        datasets: {{ datasets | tojson }}
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true,
                grid: {
                    color: 'rgba(255, 255, 255, 0.3)' // White grid lines
                },
	        ticks: {
                    color: 'white' // White text color
                }
            },
            x: {
                grid: {
                    color: 'rgba(255, 255, 255, 0.3)' // Optional: Set color for x-axis grid lines
                },
	        ticks: {
                    color: 'white' // White text color
                }
            }
        },

        legend: {
            labels: {
                color: 'white'
            }
        }
    }
});


</script>
    </div>
</div>


	</div>






</div>
</div>

{% endblock %}
       
{% else %}
<script>
 // Display a SweetAlert message and logout after 5 seconds
 window.onload = function() {
     Swal.fire({
         title: 'Access Denied!',
         text: 'You are not allowed to view this page.',
         icon: 'warning',
         timer: 5000, // Automatically close the alert after 5 seconds
         timerProgressBar: true,
         showConfirmButton: false
     }).then((result) => {
         // Redirect to logout page after the alert is closed
         if (result.dismiss === Swal.DismissReason.timer) {
             window.location.href = "/logout";
         }
     });
 };
</script>
{% endif %}
