<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if session['tname'] == 'project' and session['type'] == 'manager'  %}
  {% extends 'sidebar.html' %}
  {% block content %}
   
  <div class="modal" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Record</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('pms_edit') }}" method="POST">
                <label>Enter the name</label>
                <input type="text" name="name" value="{{ row[1] }}" class="form-control">
                <label>Enter the KRA</label>
                <input type="text" name="KRA" value="{{ row[2] }}" class="form-control">
                <label>Enter the weightage/Comments</label>
                <input type="text" name="Weightage" value="{{ row[3] }}" class="form-control">
                <label>Enter the year</label>
                <input type="text" name="year" value="{{ row[16] }}" class="form-control">
                <input type="hidden" name="ide" value="{{ id }}">
                
                {% if row['Jan'] is none %}
    <input type="hidden" name="Jan" class="form-control">
{% else %}
    <label>Current Month(Jan)</label>
    <input type="text" name="Jan" value="{{ row[4] }}" class="form-control">
{% endif %}
{% if row['Feb'] is none %}
    <input type="hidden" name="Feb" class="form-control">
{% else %}
    <label>Current Month(Feb)</label>
    <input type="text" name="Feb" value="{{ row[5] }}" class="form-control">
{% endif %}
{% if row['Mar'] is none %}
    <input type="hidden" name="Mar" class="form-control">
{% else %}
    <label>Current Month(Mar)</label>
    <input type="text" name="Mar" value="{{ row[6] }}" class="form-control">
{% endif %}
{% if row['April'] is none %}
    <input type="hidden" name="April" class="form-control">
{% else %}
    <label>Current Month(April)</label>
    <input type="text" name="April" value="{{ row[7] }}" class="form-control">
{% endif %}
{% if row['May'] is none %}
    <input type="hidden" name="May" class="form-control">
{% else %}
    <label>Current Month(May)</label>
    <input type="text" name="May" value="{{ row[8] }}" class="form-control">
{% endif %}
{% if row['June'] is none %}
    <input type="hidden" name="June" class="form-control">
{% else %}
    <label>Current Month(June)</label>
    <input type="text" name="June" value="{{ row[9] }}" class="form-control">
{% endif %}
{% if row['July'] is none %}
    <input type="hidden" name="July" class="form-control">
{% else %}
    <label>Current Month(July)</label>
    <input type="text" name="July" value="{{ row[10] }}" class="form-control">
{% endif %}
{% if row['Aug'] is none %}
    <input type="hidden" name="Aug" class="form-control">
{% else %}
    <label>Current Month(August)</label>
    <input type="text" name="Aug" value="{{ row[11] }}" class="form-control">
{% endif %}
{% if row['Sept'] is none %}
    <input type="hidden" name="Sept" class="form-control">
{% else %}
    <label>Current Month(September)</label>
    <input type="text" name="Sept" value="{{ row[12] }}" class="form-control">
{% endif %}
{% if row['Oct'] is none %}
    <input type="hidden" name="Oct" class="form-control">
{% else %}
    <label>Current Month(October)</label>
    <input type="text" name="Oct" value="{{ row[13] }}" class="form-control">
{% endif %}
{% if row['Nov'] is none %}
    <input type="hidden" name="Nov" class="form-control">
{% else %}
    <label>Current Month(November)</label>
    <input type="text" name="Nov" value="{{ row[14] }}" class="form-control">
{% endif %}
{% if row['Dece'] is none %}
    <input type="hidden" name="Dece" class="form-control">
{% else %}
    <label>Current Month(December)</label>
    <input type="text" name="Dece" value="{{ row[15] }}" class="form-control">
{% endif %}


                
                
                
            
                <label>Want to edit month?</label>
                <select class="form-control" name="month">
                    <option value="#">Select Month</option>
                    <option value="Jan">January</option>
                    <option value="Feb">February</option>
                    <option value="Mar">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="Aug">August</option>
                    <option value="Sept">September</option>
                    <option value="Oct">October</option>
                    <option value="Nov">November</option>
                    <option value="Dece">December</option>
                </select>
                <label>Enter the remarks for selected month</label>
                <input type="text" name="remarks" value="Enter the remarks" class="form-control">
                <label>Enter the Year</label>
                <input type="text" name="year" value="{{ row[16] }}" class="form-control"> <br>
                <input type="submit" name="submit" class="form-control btn btn-primary">
            </form>
            
        </div>
      </div>
    </div>
  </div>
  
  <script>
      // JavaScript code to show the modal automatically
      window.addEventListener('DOMContentLoaded', function () {
          $('#editModal').modal('show');
      });
  </script>
  
 




  {% endblock %}
  
         
{% else %}
<script>
 // Display a SweetAlert message and logout after 5 seconds
 window.onload = function() {
     Swal.fire({
         title: 'Access Denied!',
         text: 'You are not allowed to view this page.',
         icon: 'warning',
         timer: 5000, // Automatically close the alert after 5 seconds
         timerProgressBar: true,
         showConfirmButton: false
     }).then((result) => {
         // Redirect to logout page after the alert is closed
         if (result.dismiss === Swal.DismissReason.timer) {
             window.location.href = "/logout";
         }
     });
 };
</script>
{% endif %}