<!DOCTYPE html>
<html lang="en">

<head>
  
   <link rel="icon" type="image/x-icon" href="https://i.ytimg.com/vi/h_Z01mSNY_o/maxresdefault.jpg">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap CSS -->
    <title> AMT Dashboard</title>

    <!-- Custom fonts for this template-->
    <script src="https://cdn.jsdelivr.net/npm/@elastic/apm-rum@5.16.1/dist/bundles/elastic-apm-rum.umd.min.js" crossorigin></script>
<script>
  elasticApm.init({
    serviceName: 'my-service-name',
    serverUrl: 'https://10.10.100.49:8200/',
  })
</script>
<!-- Custom fonts for this template-->
<link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">


<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />

<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>


<style>


table th , table td{
    text-align: center;
}


th {
 
  color: black;
}

.pagination {
  margin: 0;
}

.pagination li:hover{
    cursor: pointer;
}
.pagination li{
        border: 1px solid black;
        border-radius: 50%;
        padding-left: 5px;
        padding-right: 5px;
        margin: 5px;

}

.header_wrap {
  padding:30px 0;
}
.num_rows {
  width: 20%;
  float:left;
}
.tb_search{
  width: 20%;
  float:right;
}
.pagination-container {
  width: 70%;
  float:left;
}

.rows_count {
  width: 20%;
  float:right;
  text-align:right;
  color: #999;
}
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body bgcolor="black">

    <div id="wrapper">

        <ul class="navbar-nav  sidebar sidebar-default  accordion" id="accordionSidebar" style="background-color: #697184;color: white;font-family: Copperplate, Copperplate Gothic Light, fantasy;">

		 <li class="nav-item ">
                <a class="nav-link" href="/dashboard">
			<p style="font-size: 15px;color: orange;font-weight: bold"> airowire <span  style="font-size: 15px;color: white;">networks</span> </p>
            </li>

            <hr class="sidebar-divider my-0">
                
            {% if session['tname'] == 'project' and session['type'] == 'user' %}
            <hr class="sidebar-divider my-0">
            <li class="nav-item ">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
        
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Payout</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="payout" style="font-size: 13px">Payout</a>
                        
                    </div>
                </div>
            </li>
            
          

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#secondcollapase"
                    aria-expanded="true" aria-controls="secondcollapase">
                    <i class="fas fa-fw fa-certificate"></i>
                    <span>Operations</span>
                </a>
                <div id="secondcollapase" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manage Lab:</h6>
                        <a class="collapse-item" href="lab" style="font-size: 13px" > Lab</a>
                        <a class="collapse-item" href="rlab" style="font-size: 13px">Return Device </a>
                        
                    </div>
                </div>
            </li>

            {% elif session['tname'] == 'project' and session['type'] == 'manager' %}
            <hr class="sidebar-divider my-0">
            <li class="nav-item ">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>User Panel</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" style="font-size: 13px" href="/uapprove">Approve</a>
                      
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider" style="color: white;">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Payout</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="payout" style="font-size: 13px">Payout</a>
                        <a class="collapse-item" href="mapayoutapprove" style="font-size: 13px">Payout Approve</a>
                        <a class="collapse-item" href="mphistory" style="font-size: 13px">Payout history</a>
                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#firstcollapase"
                    aria-expanded="true" aria-controls="firstcollapase">
                    <i class="fas fa-fw fa-certificate"></i>
                    <span>PMO</span>
                </a>
                <div id="firstcollapase" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="pdashboard" style="font-size: 13px">PMO Dashboard</a>
                        <a class="collapse-item" href="pmsassign" style="font-size: 13px">PMO Assign</a>
                        <a class="collapse-item" href="certification_tracker" style="font-size: 13px">Certification Tracker</a>
			 <a class="collapse-item" href="tcertd" style="font-size: 13px">Team Certificate Detail</a>
			<a class="collapse-item" href="upcoming_certificate" style="font-size: 13px">Upcoming Certificate</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#secondcollapase"
                    aria-expanded="true" aria-controls="secondcollapase">
                    <i class="fas fa-fw fa-certificate"></i>
                    <span>Operations</span>
                </a>
                <div id="secondcollapase" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                         <a class="collapse-item" href="lapprove" style="font-size: 13px"> Lab Approve</a>
                        <a class="collapse-item" href="lab" style="font-size: 13px"> Lab</a>
                        <a class="collapse-item" href="rlab" style="font-size: 13px">Return Internal Device </a>
                        <a class="collapse-item" href="elab" style="font-size: 13px">External Demo</a>
			<a class="collapse-item" href="relab" style="font-size: 13px">Return External Demo </a>
			<a class="collapse-item" href="edeuapprove" style="font-size: 13px"> Ext Demo Approve</a>
                    </div>
                </div>
            </li>
            


            {% elif session['tname'] == 'hr' and session['type'] == 'manager' %}


            <hr class="sidebar-divider my-0">
            <li class="nav-item ">
                <a class="nav-link" href="dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>User Panel</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">User Management:</h6>
                        <a class="collapse-item" href="/uapprove">Approve</a>
                      
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider" style="color: white;">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>HR</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="/tlist">Team list</a>
                        
                        <a class="collapse-item" href="/hrhistory">Payout list</a>

                        <a class="collapse-item" href="/hrhistory">Policies</a>

                    </div>
                </div>
            </li>
            
           

            {% elif session['tname'] == 'hr' and session['type'] == 'user' %}


            <hr class="sidebar-divider my-0">
            <li class="nav-item ">
                <a class="nav-link" href="/admin/adashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            
            <hr class="sidebar-divider" style="color: white;">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Payout</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manage Payout:</h6>
                       
                        <a class="collapse-item" href="/hrhistory">Payout list</a>
                    </div>
                </div>
            </li>
            
            


            {% elif session['tname'] == 'finance' and session['type'] == 'user' %}


            <hr class="sidebar-divider my-0">
            <li class="nav-item ">
                <a class="nav-link" href="/admin/adashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            
            <hr class="sidebar-divider" style="color: white;">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Payout</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manage Payout:</h6>
                       
                        <a class="collapse-item" href="fphistory">Payout list</a>
                    </div>
                </div>
            </li>
            
           

            {% elif session['tname'] == 'finance' and session['type'] == 'manager' %}


            <hr class="sidebar-divider my-0">
            <li class="nav-item ">
                <a class="nav-link" href="dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            
            <hr class="sidebar-divider" style="color: white;">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>User Panel</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">User Management:</h6>
                        <a class="collapse-item" href="/uapprove">Approve</a>
                      
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Payout</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manage Payout:</h6>
                       
                        <a class="collapse-item" href="/fphistory">Payout list</a>
                    </div>
                </div>
            </li>

            
            
            
            {% elif session['tname'] == 'operation' and session['type'] == 'manager' %}


            <hr class="sidebar-divider my-0">
            <li class="nav-item ">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                    <i class="fas fa-user"></i>
                    <span>User Panel</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">User Management:</h6>
                        <a class="collapse-item" href="/uapprove">Approve</a>
                      
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Operations</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <a class="collapse-item" href="/lapprove"> Internal Lab Approve</a>
			<a class="collapse-item" href="/oelab">External Demo</a>
			<a class="collapse-item" href="/elapprove">Ext Demo Approve</a>
                        <a class="collapse-item" href="/inventory">Airowire Inventory</a>
			<a class="collapse-item" href="/orelab">Return Demo </a>

                    </div>
                </div>
            </li>
            
            {% elif session['tname'] == 'operation' and session['type'] == 'user' %}


            <hr class="sidebar-divider my-0">
            <li class="nav-item ">
                <a class="nav-link" href="dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Operations</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                     <a class="collapse-item" href="/lapprove"> Internal Lab Approve</a>
                        <a class="collapse-item" href="/oelab">External Demo</a>
                        <a class="collapse-item" href="/elapprove">External Demo Approve</a>
                        <a class="collapse-item" href="/inventory">Airowire Inventory</a>
                        <a class="collapse-item" href="/orelab">Return Demo </a>
 
                    </div>
                </div>
            </li>

            {% elif session['tname'] == 'noc' and session['type'] == 'manager' %}


            <hr class="sidebar-divider my-0">
            <li class="nav-item ">
                <a class="nav-link" href="/admin/adashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>User Panel</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">User Management:</h6>
                        <a class="collapse-item" href="/uapprove">Approve</a>
                      
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Payout</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manage Payout:</h6>
                        <a class="collapse-item" href="payout">Payout</a>
                        <a class="collapse-item" href="/nocpayoutapprove">Payout Approve</a>
                        <a class="collapse-item" href="nphistory">Payout list</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#secondcollapase"
                    aria-expanded="true" aria-controls="secondcollapase">
                    <i class="fas fa-fw fa-certificate"></i>
                    <span>Operations</span>
                </a>
                <div id="secondcollapase" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <a class="collapse-item" href="lab"> Lab</a>
                        <a class="collapse-item" href="rlab">Return Device </a>
                        
                    </div>
                </div>
            </li>
            {% elif session['tname'] == 'noc' and session['type'] == 'user' %}


            <hr class="sidebar-divider my-0">
            <li class="nav-item ">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Payout</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manage Payout:</h6>
                        <a class="collapse-item" href="payout">Payout</a>
                       
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#secondcollapase"
                    aria-expanded="true" aria-controls="secondcollapase">
                    <i class="fas fa-fw fa-certificate"></i>
                    <span>Operations</span>
                </a>
                <div id="secondcollapase" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <a class="collapse-item" href="lab"> Lab</a>
                        <a class="collapse-item" href="rlab">Return Device </a>
                        
                    </div>
                </div>
            </li>
	    {% elif session['tname'] == 'sales' and session['type'] == 'manager' %}
	     <hr class="sidebar-divider my-0">
            <li class="nav-item ">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
	    <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>User Panel</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">User Management:</h6>
                        <a class="collapse-item" href="/uapprove">Approve</a>

                    </div>
                </div>
            </li>
	     <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#secondcollapase"
                    aria-expanded="true" aria-controls="secondcollapase">
                    <i class="fas fa-fw fa-certificate"></i>
                    <span>Operations</span>
                </a>
                <div id="secondcollapase" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <a class="collapse-item" href="elab">External Demo</a>
			
                        <a class="collapse-item" href="relab">Return Device </a>

                    </div>
                </div>
            </li>
	     {% elif session['tname'] == 'sales' and session['type'] == 'user' %}
             <hr class="sidebar-divider my-0">
            <li class="nav-item ">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#secondcollapase"
                    aria-expanded="true" aria-controls="secondcollapase">
                    <i class="fas fa-fw fa-certificate"></i>
                    <span>Operations</span>
                </a>
                <div id="secondcollapase" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <a class="collapse-item" href="elab">External Demo</a>
                        
                        <a class="collapse-item" href="rlab">Return Device </a>

                    </div>
                </div>
            </li>
            {% endif %}
           
        
        </ul>
        
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" >

            <!-- Main Content -->
            <div id="content" style="background: #F2F1EF">

                <!-- Topbar -->
		<div style="margin-top: 10px">
		<div class="container-fluid">                 
<nav class="navbar navbar-expand  topbar mb-4 static-top shadow" style="background-color: #697184;border-radius: 6px">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars text-white"></i>
                    </button>

                    <!-- Topbar Search -->

		    <h6 class="text-fluid text-white" style="margin-left: 50px;margin-top:10px;font-family: Copperplate, Copperplate Gothic Light, fantasy"> Welcome to Airowire Management Portal </h6>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small text-white" style="font-family: Copperplate, Copperplate Gothic Light, fantasy"> {{session.uname}}</span>
                                <img class="img-profile rounded-circle"
                                    src="{{ url_for('static', filename='img/undraw_profile.svg') }}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/profile"> <!-- Profile edit-->
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
		</div>
		</div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                {% block content %}{% endblock %}
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
       <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
       <script>
	         getPagination('#table-id');
	$('#maxRows').trigger('change');
	function getPagination (table){

		  $('#maxRows').on('change',function(){
		  	$('.pagination').html('');						// reset pagination div
		  	var trnum = 0 ;									// reset tr counter
		  	var maxRows = parseInt($(this).val());			// get Max Rows from select option

		  	var totalRows = $(table+' tbody tr').length;		// numbers of rows
			 $(table+' tr:gt(0)').each(function(){			// each TR in  table and not the header
			 	trnum++;									// Start Counter
			 	if (trnum > maxRows ){						// if tr number gt maxRows

			 		$(this).hide();							// fade it out
			 	}if (trnum <= maxRows ){$(this).show();}// else fade in Important in case if it ..
			 });											//  was fade out to fade it in
			 if (totalRows > maxRows){						// if tr total rows gt max rows option
			 	var pagenum = Math.ceil(totalRows/maxRows);	// ceil total(rows/maxrows) to get ..
			 												//	numbers of pages
			 	for (var i = 1; i <= pagenum ;){			// for each page append pagination li
			 	$('.pagination').append('<li data-page="'+i+'">\
								      <span>'+ i++ +'<span class="sr-only">(current)</span></span>\
								    </li>').show();
			 	}											// end for i


			} 												// end if row count > max rows
			$('.pagination li:first-child').addClass('active'); // add active class to the first li


        //SHOWING ROWS NUMBER OUT OF TOTAL DEFAULT
       showig_rows_count(maxRows, 1, totalRows);
        //SHOWING ROWS NUMBER OUT OF TOTAL DEFAULT

        $('.pagination li').on('click',function(e){		// on click each page
        e.preventDefault();
				var pageNum = $(this).attr('data-page');	// get it's number
				var trIndex = 0 ;							// reset tr counter
				$('.pagination li').removeClass('active');	// remove active class from all li
				$(this).addClass('active');					// add active class to the clicked


        //SHOWING ROWS NUMBER OUT OF TOTAL
       showig_rows_count(maxRows, pageNum, totalRows);
        //SHOWING ROWS NUMBER OUT OF TOTAL



				 $(table+' tr:gt(0)').each(function(){		// each tr in table not the header
				 	trIndex++;								// tr index counter
				 	// if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
				 	if (trIndex > (maxRows*pageNum) || trIndex <= ((maxRows*pageNum)-maxRows)){
				 		$(this).hide();
				 	}else {$(this).show();} 				//else fade in
				 }); 										// end of for each tr in table
					});										// end of on click pagination list
		});
											// end of on select change

								// END OF PAGINATION

	}



// SI SETTING
$(function(){
        // Just to append id number for each row
default_index();

});


//ROWS SHOWING FUNCTION
function showig_rows_count(maxRows, pageNum, totalRows) {
   //Default rows showing
        var end_index = maxRows*pageNum;
        var start_index = ((maxRows*pageNum)- maxRows) + parseFloat(1);
        var string = 'Showing '+ start_index + ' to ' + end_index +' of ' + totalRows + ' entries';
        $('.rows_count').html(string);
}

// CREATING INDEX

// All Table search script
function FilterkeyWord_all_table() {

// Count td if you want to search on all table instead of specific column

  var count = $('.table').children('tbody').children('tr:first-child').children('td').length;

        // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("search_input_all");
  var input_value =     document.getElementById("search_input_all").value;
        filter = input.value.toLowerCase();
  if(input_value !=''){
        table = document.getElementById("table-id");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) {

          var flag = 0;

          for(j = 0; j < count; j++){
            td = tr[i].getElementsByTagName("td")[j];
            if (td) {

                var td_text = td.innerHTML;
                if (td.innerHTML.toLowerCase().indexOf(filter) > -1) {
                //var td_text = td.innerHTML;
                //td.innerHTML = 'shaban';
                  flag = 1;
                } else {
                  //DO NOTHING
                }
              }
            }
          if(flag==1){
                     tr[i].style.display = "";
          }else {
             tr[i].style.display = "none";
          }
        }
    }else {
      //RESET TABLE
      $('#maxRows').trigger('change');
    }
}
       </script>
</body>

</html>
