<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if session['tname'] == 'noc' or session['tname'] == 'project'  %}
{% extends 'sidebar.html' %}
{% block content %}


<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h5 class=" mb-0 text-black">Team Certification   Dashboard</h5>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>
            <div class="card mb-4" >
                                <div class="card-header" style="">
                                    
                                            <i class="fas fa-table me-1"></i>
                                    Certification List
                                       
                                </div>
                                <div class="card-body" >
					<div class="container">
      <div class="header_wrap">
        <div class="num_rows">

                                <div class="form-group">        <!--            Show Numbers Of Rows            -->
                                        <select class  ="form-control" name="state" id="maxRows">


                                                 <option value="10">10</option>
                                                 <option value="15">15</option>
                                                 <option value="20">20</option>
                                                 <option value="50">50</option>
                                                 <option value="70">70</option>
                                                 <option value="100">100</option>
            <option value="5000">Show ALL Rows</option>
                                                </select>

                                </div>
        </div>
        <div class="tb_search">
<input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
        </div>
      </div>
                                    <table class="table table-bordered  table-class" id= "table-id">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Name</th>
						<th> Certificate</th>
                                                <th>Acq. Date</th>
                                                <th>Exp. Date</th>
                                                
                                            </tr>
                                        </thead>
<tbody class="text-left">
	  {% for row in data %}
	  <tr class="{% if row[-1] > threshold_date %}bg-success{% else %}bg-danger{% endif %} text-white">
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
            </tr> 
            {% endfor %}
</tbody>

                                    </table>
				    <div class='pagination-container'>
                                <nav>
                                  <ul class="pagination">
                                   <!-- Here the JS Function Will Add the Rows -->
                                  </ul>
                                </nav>
                        </div>
      <div class="rows_count">Showing 11 to 20 of 91 entries</div>

</div> <!--             End of Container -->
                                </div>
</div>


{% endblock %}
       
{% else %}
<script>
 // Display a SweetAlert message and logout after 5 seconds
 window.onload = function() {
     Swal.fire({
         title: 'Access Denied!',
         text: 'You are not allowed to view this page.',
         icon: 'warning',
         timer: 5000, // Automatically close the alert after 5 seconds
         timerProgressBar: true,
         showConfirmButton: false
     }).then((result) => {
         // Redirect to logout page after the alert is closed
         if (result.dismiss === Swal.DismissReason.timer) {
             window.location.href = "/logout";
         }
     });
 };
</script>
{% endif %}
