<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if session['tname'] == 'noc' or session['tname'] == 'project'  %}
{% extends 'sidebar.html' %}
{% block content %}
<style>
.left-aligned-label {
    text-align: left !important;
}

</style>

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h5 class=" mb-0 text-black">Upcoming Certs  Dashboard</h5>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>
    <div class="card mb-4">
        <div class="card-header" >
                                    <i class="fas fa-table me-1"></i>
                                    Add Certificate
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <form action="{{ url_for('ceadd') }}" method="post" >
                                            <label>Select Name</label><br>
					    <select name="name" class="form-control">
    {% for uname in user %}
        <option value="{{ uname[0] }}">{{ uname[0] }}</option>
    {% endfor %}
</select>
                                            
                                        </div>
                <div class="col-lg-4">
                    
                        
                        <label> Certificate Name</label><br>
                                            <select name="cname" class="form-control">
			    {% for ccname in cname %}
			        <option value="{{ ccname[0] }}">{{ ccname[0] }}</option>
			    {% endfor %}
			</select>
		</div>
                <div class="col-lg-2">
                    
                        
                    <label>Enter Assigned date</label><br>
			<input type="date" name="adate"   class="form-control" required >
            </div>
                
                
                <div class="col-lg-2">
                    <label>Enter  Target date</label><br>
                    <input type="date" name="tdate" required class="form-control">
                </div>
                <div class="col-lg-2">
                    <label>Type</label><br>
		    <select name="type" class="form-control">
			    <option value="associate">Associate </option>
			     <option value="professional">Professional </option>
			      <option value="expert"> Expert </option>
		    </select>
                </div>

                <div class="col-lg-2">
                    <br>
                    
                    <button class="form-control btn btn-danger">Add Certificate</button>
                    </form>
                </div>
        </div>
        </div>
            </div><br>
            <div class="card mb-4" >
                                <div class="card-header" style="">
                                    
                                            <i class="fas fa-table me-1"></i>
                                    Certification List
                                       
                                </div>
                                <div class="card-body" >
					<div class="container">
      <div class="header_wrap">
        <div class="num_rows">

                                <div class="form-group">        <!--            Show Numbers Of Rows            -->
                                        <select class  ="form-control" name="state" id="maxRows">


                                                 <option value="10">10</option>
                                                 <option value="15">15</option>
                                                 <option value="20">20</option>
                                                 <option value="50">50</option>
                                                 <option value="70">70</option>
                                                 <option value="100">100</option>
            <option value="5000">Show ALL Rows</option>
                                                </select>

                                </div>
        </div>
        <div class="tb_search">
<input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
        </div>
      </div>
                                    <table class="table table-bordered  table-class" id= "table-id">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Name</th>
						<th> Certificate Name </th>
                                                <th>Assigned Date</th>
                                                <th>Target Date</th>
                                                <th>Action</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody class="text-left">
                                            {% for row in data %}
        <tr>
          
            <td>
		     <a href="#" class="open-modal" data-id="{{ row[0] }}" style="text-decoration: none;color: black">{{ row[1] }}</a>
	    </td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>	
            <td>{{ row[4] }}</td>
            
	    {% if row[6] == "Not_Completed"   %}
	    <td>   <button type="button" class="btn btn-success approveBtn" data-id="{{ row[0] }}" id="bookexamBtn">Book Exam</button>
                     <button type="button" class="btn btn-danger approveBtn" data-id="{{ row[0] }}" >Extend</button>
	    </td>
	     {% elif row[6] == "completed"   %}
	     <td>
                     <button type="button" class="btn btn-success" >Completed</button>
            </td>
	    {% else %}
	    <td>  
                     <button type="button" class="btn btn-danger approveBtn" data-id="{{ row[0] }}" id="commodalBtn" >Complete</button>
            </td>
	    {% endif %}

	    <div id="commodal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Completion Detials</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ecomplete">
                    <div class="form-group">
                        <label class="left-aligned-label">Acquire Date:</label>
                        <input type="date" class="form-control" id="AdateInput" name="adate">
                    </div>
                    <div class="form-group">
                        <label class="left-aligned-label" for="serialNumber">Expiry Date:</label>
                        <input type="date" class="form-control" id="EdateInput" name="edate">
                    </div>
                    <input type="hidden" id="labId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitae">Submit</button>
            </div>
        </div>
    </div>
</div>
<div id="bookexam" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Booking Exam Detial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ecomplete">
                    <div class="form-group">
                        <label class="left-aligned-label">Booking Date:</label>
                        <input type="date" class="form-control" id="BdateInput" name="bedate">
                    </div>
                    <div class="form-group">
                        <label class="left-aligned-label" for="serialNumber">Booking Time:</label>
                        <input type="time" class="form-control" id="BtimeInput" name="bextime">
                    </div>
                    <input type="hidden" id="labId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitbd">Submit</button>
            </div>
        </div>
    </div>
</div>

	     <div id="serialNumberModal" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Enter Extend Date</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="serialNumberForm">
                                <div class="form-group">
                                    <label for="serialNumber">Extend Date:</label>
                                    <input type="date" class="form-control" id="serialNumberInput" name="target_date">
                                </div>
				 <div class="form-group">
                                    <label for="serialNumber">Reason:</label>
                                    <input type="text" class="form-control" id="ReasonInput" name="reason">
                                </div>
                                <input type="hidden" id="labId">

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="submitSerialNumber">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
           
           
           
        </tr>
        {% endfor %}
                                        </tbody>
                                    </table>
				     <div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Additional Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Display details here -->
                <div id="modal-details">
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $(".open-modal").click(function(){
        var id = $(this).data('id');

        // Fetch details via AJAX request
        $.ajax({
            url: '/upcoming_certificate',
            method: 'GET',
            data: {id: id},
            success: function(response){
                // Check if response contains data
                if (response) {
                    // Populate modal body with details
                    $("#modal-details").html(
                        "<p>Employee Name: " + response.name + "</p>" +
                        "<p>Certificate Name: " + response.cname + "</p>" +
                        "<p>Assigned Date: " + response.asdate + "</p>" +
                        "<p>Target Date : " + response.tdate + "</p>" +
                        "<p>Type: " + response.type + "</p>" +
                        "<p>Status: " + response.status + "</p>" +
			"<p>Acquire Date: " + response.adate + "</p>" +
			 "<p>Expiry Date: " + response.edate + "</p>" +
                        "<p>Reason: " + response.reason + "</p>"
                    );
                } else {
                    // If response is empty or does not contain data
                    $("#modal-details").text("No data available");
                }

                // Open the modal
                $("#myModal").modal('show');
            },
            error: function(xhr, status, error){
                // Handle error
                console.error(error);
                // Update modal title and body in case of error
                $(".modal-title").text('Error');
                $("#modal-details").html('<p>An error occurred while fetching the details.</p>');

                // Open the modal
                $("#myModal").modal('show');
            }
        });
    });
                $(".modal-footer .btn-danger").click(function() {
    $("#myModal").modal('hide');
});
                  $(".close").click(function() {
    $("#myModal").modal('hide');
});

});
</script>

				    <div class='pagination-container'>
                                <nav>
                                  <ul class="pagination">
                                   <!-- Here the JS Function Will Add the Rows -->
                                  </ul>
                                </nav>
                        </div>
      <div class="rows_count">Showing 11 to 20 of 91 entries</div>

</div> <!--             End of Container -->
                                </div>
</div>
<script>
$(document).ready(function () {
    $('.approveBtn').click(function () {
        var id = $(this).data('id');
        $('#labId').val(id);
        if ($(this).attr('id') === 'commodalBtn') {
            $('#commodal').modal('show');
	}
	else if  ($(this).attr('id') === 'bookexamBtn')
	{
		 $('#bookexam').modal('show');
	}
         else {
            $('#serialNumberModal').modal('show');
        }
    });

    $('#submitSerialNumber').click(function () {
        var end_date = $('#serialNumberInput').val();
        var id = $('#labId').val();
        var reason =  $('#ReasonInput').val();
        $.post('/certupdate', { end_date: end_date, id: id, reason: reason }, function (data) {
            console.log("Response from server:", data);
            window.location.href = '/upcoming_certificate';
            $('#serialNumberModal').modal('hide');
        });
    });

    $('#submitae').click(function () {
        var adate = $('#AdateInput').val();
        var edate = $('#EdateInput').val();
        var id = $('#labId').val();
        $.post('/ecomplete', { adate: adate, id: id, edate: edate }, function (data) {
            console.log("Response from server:", data);
            window.location.href = '/upcoming_certificate';
            $('#commodal').modal('hide');
        });
    });
    $('#submitbd').click(function () {
        var bedate = $('#BdateInput').val();
        var bextime = $('#BtimeInput').val();
        var id = $('#labId').val();
        $.post('/bookexam', { bedate: bedate, id: id, bextime: bextime }, function (data) {
            console.log("Response from server:", data);
            window.location.href = '/upcoming_certificate';
            $('#bookexam').modal('hide');
        });
    });

});
</script>

{% endblock %}
       
{% else %}
<script>
 // Display a SweetAlert message and logout after 5 seconds
 window.onload = function() {
     Swal.fire({
         title: 'Access Denied!',
         text: 'You are not allowed to view this page.',
         icon: 'warning',
         timer: 5000, // Automatically close the alert after 5 seconds
         timerProgressBar: true,
         showConfirmButton: false
     }).then((result) => {
         // Redirect to logout page after the alert is closed
         if (result.dismiss === Swal.DismissReason.timer) {
             window.location.href = "/logout";
         }
     });
 };
</script>
{% endif %}
